@import url("./drag-and-drop.css");

*{
    margin: 0;
    padding: 0;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container {
    background-color: #f0f0f0;
    border: solid black 1px;
}

.draggable {
    background-color: red;
}

.dropzone {
    border: solid black 2px;
}
